body {
    margin: 0px;
    font-family: sans-serif;
    word-wrap: break-word;
    background-color: #00324d;
}
.navContainer {
    display: flex;
    background: rgb(53 53 53);
}
.navContainer .navContent {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.navContainer .navContent h1{
    color:white;
}
.navContainer .navContent .navMenu {
    display: flex;
    align-items: center;
    margin-left: 25%;
}
.navContainer .navContent .navMenu a {
    color:#d2cfcf;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}
.navContainer .navContent .navMenuUser {
    display: flex;
    align-items: center;
}
.navContainer .navContent .navMenuUser a {
    color:white;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 10px;
    padding:10px 10px 10px 10px;
}
.navMenuUser .homebanking {
    background-color: #272727;
}
.navMenuUser .newclient {
    border:1px solid #656565;
}
.navMenuUser .newclient:hover {
    border-color: #034c5c;
    color:#034c5c !important;
    transition: border 0.5s ease-in-out;
}
.navMenuUser .homebanking:hover{
    transition: background-color 0.5s ease-in-out;
    background-color: #034c5c;
}
.navContainer .navContent .navMenu a:hover {
color:white;
}
.signUpContainer {
    max-width: 20%;
    margin:0px auto;
}
.signUpForm .formLabel {
    margin:20px;
}
.formBtn {
    background:#034c5c;
    color:white;
    padding:10px 10px 10px 10px;
    border: none;
    border-radius: 20px;
}
.formBtn:hover{
    cursor: pointer;
    color: #034c5c;
    background-color: white;
    box-shadow: -1px 6px 18px -6px rgba(0,0,0,0.45);
    transition: background-color 0.5s ease-out;
}
.loginContainer {
    margin-top: 10%;
}
.loginContainer .formLabel {
    display: flex;
    flex-direction: column;
}
.loginContainer .formLabel input {
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border:none;
    border-bottom: 2px solid grey;
}
.loginContainer .formLabel input:hover {
    border-bottom-color: #034c5c;
}
.signup, .login {
    margin: auto;
    padding: 12px 50px 12px 50px;
    border: 1px solid #e2dbdb;
    background-color: #fff;
    border-radius: 5px;
    max-width: 24rem;
    min-height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: -9px 14px 13px 2px rgb(0 0 0 / 45%);
}
.signup h3, .login h3 {
    font-weight: 100;
}
.inputLink {
    cursor: pointer;
    color:#034c5c;
}
.userName {
    color:white !important;
    background: #ffffff14;
    border-radius: 10px;
    padding:5px 5px 5px 5px !important
}
.userName:hover{
    cursor: pointer;
}
.registerbutton, .loginbutton {
    background-color:#e2e0e0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 10px;
}
.registerbtn {
    margin-top: 10px;
    margin-bottom: 10px;
}
.logout {
    color:red !important;
}
.logout:hover{
    cursor: pointer;
}
.container {
    margin:10px;
}
.cardBody {
    background: linear-gradient(325deg, rgba(69,69,70,1) 0%, rgba(42,42,42,1) 33%, rgba(25,25,25,1) 93%);
    max-width: 23rem;
    width: auto;
    min-height: 200px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    box-shadow: -1px 6px 18px -6px rgba(0,0,0,0.45)
}
.cardBody:hover{
    background:linear-gradient(325deg, rgb(18 18 137) 0%, rgb(44 35 187) 33%, rgb(29 22 89) 93%);
    box-shadow: -1px 6px 18px -6px rgb(0 0 0 / 45%);
}
.cardBody .logotype {
    padding:0px 10px 0px 10px;
    font-size: 24px;
    color:blue;
    margin-top:10px
}
.cardInfo {
    background-color:#ffff;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: -1px 6px 18px -6px rgba(0,0,0,0.45);
    border-left:20px solid rgb(18,18,80);
    height: 17rem;
}
.options {
    border:none;
    height: 7rem;
    margin-bottom: 1rem;
}
.availablemoney {
    margin: auto;
    padding-left: 10px;
}
.cardbuttons {
    margin: auto;
    padding-left: 10px;
}
.cardbuttons button {
    background:rgb(18, 18, 80);
    border: none;
    padding: 10px 10px 10px 10px;
    color:white;
    border-radius: 15px;
}
.cardbuttons button:hover{
    cursor: pointer;
    background-color: white;
    color:black;
    transition: background-color 0.5s ease-out;
    border-bottom: 0.5px solid rgb(30, 30, 133);
}
.ourCard {
    color:rgb(30, 30, 133);
    margin:10px;
    border-bottom: 1px solid #e2dfdf;
    padding-bottom: 5px;
}
.cardcontent {
    margin-top: 4.5rem;
    padding: 10px 10px 10px 10px;
    color:white;
}
.cardData {
    display: flex;
}
.cardData .cardValue {
    padding-right: 15px;
    font-size: 12px;
}
.cardNumber {
    color:#dcdc44;
    font-size: 20px
}
.movements {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    border-left:20px solid green;
    height: auto;
}
.log {
    padding-left: 10px;
}
.mainpage {
    background-size: cover;
    height: 39rem;
    display: flex;
    justify-content: center;
    color: white;
}
.getcard {
    background-image: linear-gradient(to right top, #051937, #002643, #00324d, #003f55, #034c5c);
    height: 38rem;
    display: grid;
    place-items: center;
}
.getcardinfo {
    display: grid;
    place-items: center;
    color:white
}
.getcardinfo .getcardbutton{
    background: white;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    border-radius: 20px;
}
.getcardinfo .getcardbutton:hover{
    background-color: #e8e8e8;
    color:#034c5c;
    border: 5px solid grey;
    transition: border 0.2s ease-in-out;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(53 53 53);
    height: 1.6rem;
    color: white;
    font-size: 12px;
}
.maintext {
    display: grid;
    place-items: center;
}
.mainpage a {
    background-color: #034c5c;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -1px 6px 18px -6px rgba(0,0,0,0.45);
    font-size: 24px;
    text-decoration: none;
    color: white;
}
.maintext a:hover{
    background-color: #00324d;
    transition: background 2s ease-in-out;
    cursor: pointer;
}